## Connection ##
PHPMYADMIN_PORT=8080
REDIS_PORT=6379
DB_MSSQL_PORT=1433
DB_MYSQL_PORT=3306

DB_USERNAME=app_user
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_me

DB_DATABASE=appdb

DB_BACKUP_PASSWORD=change_me
DB_BACKUP_USER=backup_user

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# MSSQL limits (optional)
# MSSQL_LIMIT_CPU=0.5
# MSSQL_LIMIT_MEMORY=2000M
